<!doctype html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/sidebar.css">
    <title>Kütüphane YBS</title>
</head>

<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><a href="/" class="navbar-brand">Kütüphane YBS</a></div>
            <div class="list-group list-group-flush">
                <a href="/" class="list-group-item list-group-item-action bg-light">Özet</a>
                <div sec:authorize="hasAuthority('ADMIN')" class="btn-group">
                    <a href="/library-settings" class="list-group-item list-group-item-action bg-light">Kütüphane
                        Ayarları</a>
                </div>
                <div sec:authorize="hasAuthority('ADMIN')" class="btn-group">
                    <a href="/users" class="list-group-item list-group-item-action bg-light">Kullanıcılar</a>
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                        <a href="/users/add" class="list-group-item list-group-item-action bg-light">Ekle</a>
                    </div>
                </div>
                <div sec:authorize="hasAuthority('LIBRARIAN')" class="btn-group">
                    <a href="/members" class="list-group-item list-group-item-action bg-light">Üyeler</a>
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                        <a href="/members/add" class="list-group-item list-group-item-action bg-light">Ekle</a>
                    </div>
                </div>
                <div sec:authorize="hasAuthority('LIBRARIAN')" class="btn-group">
                    <a href="/borrowings" class="list-group-item list-group-item-action bg-light">Ödünç Kayıtları</a>
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                        <a href="/borrowings/create" class="list-group-item list-group-item-action bg-light">Ekle</a>
                    </div>
                </div>
                <div sec:authorize="hasAnyAuthority('LIBRARIAN', 'EDITOR')" class="btn-group">
                    <a href="/books" class="list-group-item list-group-item-action bg-light">Kitaplar</a>
                    <button sec:authorize="hasAuthority('EDITOR')" type="button"
                        class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div sec:authorize="hasAuthority('EDITOR')" class="dropdown-menu">
                        <a href="/books/add" class="list-group-item list-group-item-action bg-light">Ekle</a>
                    </div>
                </div>
                <div sec:authorize="hasAnyAuthority('LIBRARIAN', 'EDITOR')" class="btn-group">
                    <a href="/writers" class="list-group-item list-group-item-action bg-light">Yazarlar</a>
                    <button sec:authorize="hasAuthority('EDITOR')" type="button"
                        class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div sec:authorize="hasAuthority('EDITOR')" class="dropdown-menu">
                        <a href="/writers/add" class="list-group-item list-group-item-action bg-light">Ekle</a>
                    </div>
                </div>
                <div sec:authorize="hasAnyAuthority('LIBRARIAN', 'EDITOR')" class="btn-group">
                    <a href="/publishers" class="list-group-item list-group-item-action bg-light">Yayıncı Firmalar</a>
                    <button sec:authorize="hasAuthority('EDITOR')" type="button"
                        class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div sec:authorize="hasAuthority('EDITOR')" class="dropdown-menu">
                        <a href="/publishers/add" class="list-group-item list-group-item-action bg-light">Ekle</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-light" id="menu-toggle"><em class="fas fa-bars"></em></button>

                <button class="btn navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="fas fa-angle-down"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                                <em class="fas fa-user"></em>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <p class="dropdown-item"
                                    th:text="${#authentication.getPrincipal().getUser().getName()} + ' ' + ${#authentication.getPrincipal().getUser().getSurname()}">
                                </p>
                                <hr>
                                <a class="dropdown-item" href="/logout">Çıkış Yap</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <th:block th:insert="__${fragment}__"></th:block>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
        <!-- jQuery and Bootstrap Bundle  -->
        <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.0.5/dist/js/tabulator.min.js"></script>
        <script src="/js/sidebar.js"></script>
        <th:block th:if="${js} ">
            <script th:each="j : ${js}" th:src=@{${j}}></script>
        </th:block>
</body>

</html>