<div th:fragment="settingstable" class="container">
    <div class="row">
        <div class="col">
            <h1>Kütüphane Ayarları</h1>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-12">
            <div th:if="${success}" class="col-sm-12 alert alert-success">
                İşlem başarıyla gerçekleşti.
            </div>
            <div th:if="${hasError}" class="col-sm-12 alert alert-danger">
                <p class="my-15">Ayar formu hatalı!</p>
                <ul class="list-group" th:if="${integrityError}">
                    <li class="list-group-item" th:text="${errorMessage}"></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="table table-striped table-responsive">
                <table class="table">
                    <caption>
                        Kütüphane ayarları listesi.
                    </caption>
                    <thead>
                        <th scope="row">Ayar</th>
                        <th scope="row">Değeri</th>
                        <th scope="row">Değer Tipi</th>
                        <th scope="row">Ekle</th>
                    </thead>
                    <tbody>
                        <th:block th:each="item : ${settings}">
                            <form th:action="@{/library-settings/edit}" method="post">
                                <tr>
                                    <input type="hidden" name="id" th:value="${item.id}">
                                    <td>
                                        <input class="form-control" readonly type="text" th:value="${item.name}" name="name">
                                    </td>
                                    <td>
                                        <th:block 
                                            th:if="${item?.type == T(tr.edu.yildiz.yazilimkalite.librarymanagement.model.LibrarySettingType).BOOLEAN}">
                                            <select required class="form-control" name="value">
                                                <option value="true" th:selected="${item?.value == 'true'}">Evet</option>
                                                <option value="false" th:selected="${item?.value == 'false'}">Hayır</option>
                                            </select>
                                        </th:block>
                                        <th:block 
                                            th:unless="${item?.type == T(tr.edu.yildiz.yazilimkalite.librarymanagement.model.LibrarySettingType).BOOLEAN}">
                                            <input required class="form-control" type="text" th:value="${item.value}" name="value">
                                        </th:block>
                                    </td>
                                    <td>
                                        <input class="form-control" type="hidden" th:value="${item?.type}" readonly name="type">
                                        <input class="form-control" type="text" th:value="${item?.type.name}" readonly>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary">Düzenle</button>
                                    </td>
                                </tr>
                            </form>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>